@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
    image-rendering: -webkit-optimize-contrast;
  }
  
  .bg-contain {
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the most important part of the image */
    background-attachment: fixed; /* Optional: Adds a parallax effect */
  }

  .form-card {
    border-radius: 12px;
    overflow: hidden; /* Ensures child elements respect the rounded corners */
  }

  body {
    background-color: white; /* Ensures a white background for the entire page */
    color: black; /* Ensures text remains readable */
  }